<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>students</title>
</head>
<body>
   <h1>All students</h1>
   <ul>
   <%students.forEach(function(student){ %>
    <li>
        <span>NAME : <%= student.name %></span></br>
        <span>BIRTHDATE : <%= student.birthdate %></span></br>
        <span>FIELD OF STUDY : <%= student.fieldOfStudy %></span>
    </li>
    <%}) %>
</ul>

<a href="/add">add student</a>
</body>
</html>